html, body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    background-color: #3A3A3A;
}

h1, h2, h3, h4 {
	color: #00b300;
	text-align: center;

}

p {
	color: white;
}

.text-muted {
	color: white;
}

textarea {
  font-size: 15px;

}



span.pull-down-heading {
	/*font-weight: bold; */
}

select {
	float: right;
    text-align:right;
    /*width: 160px;*/
    width: 100%;
    direction: rtl;
}

option {
	float: right;
    text-align:right;
    /*width: 160px;*/
    width: 100%;
    direction: rtl;
}


/*
h4.configure-title {
	text-align: center;
}
*/

table.table-system-control {
	/*border: 1px solid white;*/
	border: none;
	text-align: center;
	table-layout: fixed;
	width: 100%;

}

table.jog-controls {
	border: 1px solid white;
	text-align: center;
	table-layout: fixed;
	width: 100%;

}

table.table-camera-feedback {
	/*border: 1px solid white;*/
	border: none;
	text-align: center;
	table-layout: fixed;
	width: 100%;

}


table.dobot-state {
	border: 1px solid white;
	text-align: center;
	table-layout: fixed;
	width: 100px;
}


th.processing-parameters {
	border: 1px solid white;
}

td {
	border: 1px solid white;
	width: 56px;
	height: 15px;
	overflow: hidden;
	color: white;
}

/*
td.processing-data {
	width: 56px;
	height: 50px;
	overflow: hidden;
}
*/


/*#threeJSCanvas { */
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.system-control {
	width: 100%;
	color: lime;
	background-color: gray;
	/*border: 1px solid gray;*/
}

.jog {
	width:  100%;
	color: lime;
	background-color: gray;
	/*border: 1px solid gray;*/

}

.img-video-from-camera{
	max-width: 100%;
}