html, body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    background-color: #3A3A3A;
}

h1, h2, h3, h4 {
	color: red;

}

p {
	color: white;
}

textarea {
  font-size: 15px;

}



span.pull-down-heading {
	/*font-weight: bold; */
}

select {
	float: right;
    text-align:right;
    width: 160px;
    direction: rtl;
}

option {
	float: right;
    text-align:right;
    width: 160px;
    direction: rtl;
}


/*
h4.configure-title {
	text-align: center;
}
*/

table.jog-controls {
	border: 2px solid white;
	text-align: center;
	table-layout: fixed;

}


table.dobot-state {
	border: 2px solid white;
	text-align: center;
	table-layout: fixed;

}

table.dobot-state {
	border: 2px solid white;
	text-align: center;
	table-layout: fixed;

}


th.processing-parameters {
	border: 1px solid white;
}

td {
	border: 1px solid white;
	width: 56px;
	height: 15px;
	overflow: hidden;
}

td.processing-data {
	width: 56px;
	height: 50px;
	overflow: hidden;
}



/*#threeJSCanvas { */
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.jog {
	width:  100%;
	color: red;
	background-color: blue;
	border: 2px solid yellow;

}

.system-control {
	width: 100%;
	color: red;
	background-color: blue;
	border: 2px solid yellow;
}